<h3>Students</h3>

<a href="newstudent.php" class="pull-right">New Student</a>
<a href="instructors.php" class="pull-right">View Instructors |</a>
<a href="courses.php" class="pull-right">View Courses |</a>

 <table class = "table table-striped">
      
      
      <thead>
         <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>DoB</th>
            <th>Action</th>
         </tr>
      </thead>
      
      <tbody>
      		<tr>
      		    <td>Test1</td>
      		    <td>Test2</td>
      		    <td>Test3</td>
      		    <td>Test4</td>
      		    <td>Test5</td>
      		</tr>
   
  	 </tbody>
      
   </table>